/* MOBILE SCREEN */
@media (max-width: 1200px) {
  .header label {
    visibility: visible;
  }
  .header__menu:checked ~ .background-nav-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }
  .image-hero-desktop {
    display: none;
  }
  .contain-img-hero-mobile{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .img-hero-mobile{
    width: 100%;
  }
  label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .body {
    justify-content: center;
  }

  .texts-body {
    text-align: center;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
    width: 100%;
  }

  
/* style.css | http://127.0.0.1:5500/styles/style.css?_cacheOverride=1675009858028 */

  .title-body {
  width: 100%;
  padding-bottom: 31px;
  font-size: 35px;
  }

  .text-body {
  width: 100%;
  font-size: 16px;
  }

  .logos {
  gap: 23px;
  max-width: 375px;
  }
}
